@media screen and (max-width: 768px) { 
    .container__form {
        width: 45%;
    }
}

@media screen and (max-width: 425px) {
    .container__form {
        width: 90%;
        padding: 12% 5% 10%;
    }
}

@media screen and (max-width: 375px) {
    .container__form {
        width: 100%;
    }
}
